[submodule "submodules/watson"]
	path = submodules/watson
	url = http://github.com/joereddington/watson
[submodule "submodules/igor"]
	path = submodules/igor
	url = https://github.com/joereddington/igor/
