[submodule "igor"]
	path = submodules/igor
	url = https://github.com/joereddington/igor
[submodule "watcher"]
	path = submodules/watcher
	url = https://github.com/joereddington/watcher
[submodule "submodules/metatodo"]
	path = submodules/metatodo
	url = https://github.com/joereddington/metatodo
